# Compiled directories
dist

# System files
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
todo.txt

# Dependency directories
node_modules
jspm_packages
mix-manifest.json

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Large / disallowed file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi


# Logs
logs
*.log
npm-debug.log*
*log
wp-admin/*log
wp-content/*log
wp-includes/*log

# misc
hot
mix-manifest.json
wp-config.php
wp-config-local.php
*.sql
dbdump*
.user.ini
php.ini
wp-content/cache/
wp-content/db.php
wp-content/backups-dup-pro/
wp-content/upgrade/
wp-content/themes/eh2020.zip
wp-content/webtoffee_migrations/
