@import "../node_modules/bootstrap/scss/bootstrap.scss";

.bg-black {
  background-color: #000;
}
.btn-outline-light {
  transition: all 0.5s;
  &:hover {
    color: #000 !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Tex Gyre Adventor", sans-serif;
  font-weight: 600;
}
h2,
.h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
h4,
.h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.btn {
  font-family: "Tex Gyre Adventor", sans-serif;
  color: #444;
  text-transform: uppercase;
  padding: 5px 25px 7px;
}
@import "content";
@import "home";

#masthead {
  z-index: 1;
  background-color: transparent;
  position: absolute;
  top: 0;
  &.fixed-theme {
    background-color: #000;
  }

  .navbar-toggler {
    border: 0;
    outline: 0;
    @include media-breakpoint-down(md) {
      .hamburg {
        display: none;
      }
      .cancel {
        display: block;
        background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 32 32' version='1.1' width='32px' height='32px'><g id='surface1'><path style=' ' d='M 7.21875 5.78125 L 5.78125 7.21875 L 14.5625 16 L 5.78125 24.78125 L 7.21875 26.21875 L 16 17.4375 L 24.78125 26.21875 L 26.21875 24.78125 L 17.4375 16 L 26.21875 7.21875 L 24.78125 5.78125 L 16 14.5625 Z '/></g> </svg>");
      }
      &.collapsed {
        .hamburg {
          display: block;
        }
        .cancel {
          display: none;
        }
      }
    }
  }

  // .navbar-brand {
  //   img {
  //     width: 60px;
  //     @include media-breakpoint-up(md) {
  //       width: 120px;
  //     }
  //   }
  // }
}
.plastic_value.impact.highlight {
  white-space: nowrap;
}

@include media-breakpoint-down(md) {
  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right {
    grid-template-areas: "media-text-media" "media-text-content";
  }
}
.nav-fixed {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 100%;
  text-align: right;
  @include media-breakpoint-up(md) {
    width: 40%;
    right: 20px;
    top: 20px;
    #navbarToggler {
      display: none;
    }

    .navbar-toggler {
      &:hover {
        .hamburg {
        }
        .navbar-collapse {
          display: block;
        }
      }

      &:not(.collapsed) {
        .cancel {
        }
        .hamburg {
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    top: 40px;
    right: 40px;
    .navbar-nav {
      padding: 1rem 0.2rem;
    }
  }
}

.navbar-collapse {
  max-width: 360px;
  position: absolute;
  top: 30px;
  right: 0;
  text-align: right;
  line-height: 1.5;
  padding: 0 1rem;

  &.collapsing {
    height: auto;
    overflow: auto;
    transition: none;
  }

  .nav-item a {
    padding: 2px 0.9rem;
    margin: 5px 0;
    display: inline-block !important;
    &:hover {
    }
  }
}

.site-footer {
  background-color: #fff !important;
  @include media-breakpoint-up(md) {
  }
}

#country_selector {
  background-color: transparent;
  border: 0;
  top: -8px;
  right: -4px;
  position: relative;
  @include media-breakpoint-up(md) {
    top: 0;
    right: 0;
  }
}

#country_modal {
  li {
    list-style: none;
  }
  .menu-item {
    padding: 5px 0;
    a {
      color: #444;
    }
  }
  .sub-menu {
    padding-left: 30px;
  }
}

.flag-icon:not(.flag-icon-globe) {
  box-shadow: inset 0 0 3px 0px #a5a5a5;
}

.flag-icon-globe {
  background-image: url("../flags/4x3/none.svg");
}
.flag-icon-lac {
  background-image: url("../flags/4x3/lac.png");
}
.entry .entry-content .wp-block-button .wp-block-button__link,
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link,
.entry .entry-content .wp-block-button.is-style-squared .wp-block-button__link {
  // background-color: transparent;
  border: 2px solid #000;
  border-radius: unset !important;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: var(--red);
  border-color: var(--red);
  &:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
  }
  &.has-red-background-color {
    background-color: var(--red);
    border-color: var(--red);
    &:hover {
      border-color: #000;
      background-color: #000;
      color: #fff;
    }
  }
}

.entry .entry-content {
  .wp-block-button {
    &.aligncenter {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .wp-block-button__link {
      text-decoration: none;
      padding: 12px 44px;

      &:hover {
        background-color: var(--red);
        color: #fff !important;
      }
    }
  }
}

.footer-nav {
  font-size: 90%;
}

// .page-template-plastic-diet-ifram,
// .page-template-page-templatesplastic-diet-ifram-php {
//   #wpadminbar {
//     display: none;
//   }
// }

// html {
//   margin-top: 0 !important;
// }
// * html body {
//   margin-top: 0 !important;
// }
// @media screen and (max-width: 782px) {
//   html {
//     margin-top: 0 !important;
//   }
//   * html body {
//     margin-top: 0 !important;
//   }
// }

@import "./eh2020.scss";

.openletter-wrapper {
  position: relative;

  .bg {
    position: absolute;
    top: 0;
    left: 15px;
    top: 15px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    transform: skew(-6deg, 6deg);
  }
}

.openletter {
  position: relative;
  background-color: #fff;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #bbb;
  padding: 30px;
  overflow-y: scroll;
  min-height: 70vh;
  @include media-breakpoint-up(md) {
    max-height: 70vh;
    min-height: 50vh;
  }
  // font-size: 12px;
  // line-height: 1.5;
  // padding: 20px;
  // // display: flex;
  // // flex-flow: column wrap;
  // width: 100%;
  // max-width: 900px;
  // max-height: 500px;
  // overflow: scroll;
  // font-family: monospace;
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);

  h3 {
    color: #000 !important;
  }

  & > * {
    // width: calc(50% - 20px);
    margin-bottom: 7px;
  }
  & li {
    // line-break: anywhere;
  }
}
@include media-breakpoint-up(lg) {
  #step2,
  #step3 {
    .openletter-wrapper {
      max-height: 750px;
    }
  }
}
@include media-breakpoint-up(xl) {
  #step2,
  #step3 {
    .openletter-wrapper {
      max-height: 600px;
    }
  }
}

.form-control {
  border-radius: 0;
}

#voice-form {
  #step1,
  #step2 {
    h2,
    h3 {
      color: #ffe783;
    }
  }
  #step4 {
    .btn {
      padding: 10px;
      line-height: 1;
    }
    svg {
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }
}

.btn-social img,
.btn-social svg {
  vertical-align: text-bottom;
}

.sponsorsFooter {
  width: 100%;
  height: auto;
  z-index: 14;
  padding-top: 100px;
  z-index: 1 !important;
  text-align: center !important;
  z-index: 99;
  background-color: transparent;
  padding-bottom: 30px;
}

.sponsorsFooter img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  vertical-align: middle;
  max-width: 120px;
}

@media (max-width: 750px) {
  .sponsorsFooter img {
    max-width: 100px;
  }
}

.samsonite,
.starhub,
.foodpanda {
  max-width: 200px !important;
}
.starhub {
  margin-top: 10px;
}
@media screen and (max-width: 750px) {
  .thebodyshop {
    width: 75%;
    margin-top: 15px;
  }
}
.line-up {
  h2 {
    color: #ffe783;
  }
  img {
  }
  h3 {
    font-size: 18px;
    margin: 0;
  }
  p {
    font-size: 18px;
    display: none;
  }
}

.wave {
  width: 100%;
  height: auto;
}

section#youtube {
  h2 {
    font-size: 36px;
  }
  .btn-red {
    background-color: #d70a0a;
    color: #fff;
    &:hover {
      // border: 1px solid #d70a0a;
      // color: #d70a0a;
    }
  }
}

#content {
  min-height: 500px;
  background-color: #000;
  padding-top: 4rem;
  color: #fff;
  @include media-breakpoint-up(lg) {
    padding-top: 8rem;
  }
}

.entry .entry-content > *,
.entry .entry-summary > * {
  @include media-breakpoint-up(md) {
    margin: auto;
  }
}

.w2gm-submit-section-inside {
  background-color: #000;
}

.w2gm-submit-section {
  background: transparent;
  color: #fff;

  label {
    color: #fff;
  }
}
#w2gm-category-all {
  background: transparent;
}
#post_content-tmce,
#post_content-html {
  color: black;
}
.w2gm-map-draw-panel {
  display: none;
}

.w2gm-submit-section-categories .w2gm-expand-terms,
.w2gm-submit-section-categories .w2gm-collapse-terms {
  visibility: hidden;
}
.w2gm-create-listing-form .w2gm-submit-section-title {
  visibility: hidden;
  height: 0;
  display: none;
}
div.w2gm-categories-tree-panel {
  height: 100px;
  min-height: 42px;
  max-height: 950px;
  resize: vertical;
  overflow: auto;
  padding: 0.9em;
  margin-top: 1em;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
.w2gm-updated {
  display: none;
}
.w2gm-select-map-icon {
  display: none;
}
blockquote {
  padding: 40px;
  border-left: 0px;
}
.w2gm-content .w2gm-field-input-block-6 > div,
.w2gm-content .w2gm-field-input-block-11 > div,
.w2gm-content .w2gm-field-input-block-12 > div,
.w2gm-content .w2gm-field-input-block-8 > div {
  width: 100%;
  padding: 0;
  margin-top: 15px;
}
.w2gm-content-fields-metabox .w2gm-field {
  padding: 0px 20px 0px 20px;
}
#_form_1_submit {
  background: #254ba5 !important;
  background: -moz-linear-gradient(top, #254ba5 0%, #ac64ac 100%) !important;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #254ba5),
    color-stop(100%, #ac64ac)
  ) !important;
  background: -webkit-linear-gradient(top, #254ba5 0%, #ac64ac 100%) !important;
  background: -o-linear-gradient(top, #254ba5 0%, #ac64ac 100%) !important;
  background: -ms-linear-gradient(top, #254ba5 0%, #ac64ac 100%) !important;
  background: linear-gradient(to bottom, #254ba5 0%, #ac64ac 100%) !important;
  background-position-x: 0%;
  background-position-y: 0%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #254ba5 , endColorstr= #ac64ac ,GradientType=0 ) !important;
  color: #ffffff;
  background-position: center !important;
  border: none;
  margin: 0;
  max-width: 100%;
  float: none;
  border-radius: 2px;
  height: 48px;
  font-size: 16px;
  padding: 12px;
}
._form-content div {
  display: none;
}
.w2gm-content p.submit {
  display: none;
}

.latest_post_holder.image_in_box .latest_post_text .excerpt {
  font-size: 15px;
  line-height: 26px;
  margin: 9px 0px;
}

.latest_post_holder.image_in_box .latest_post_inner .post_infos {
  font-family: "Inconsolata", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: regular;
  color: #000;
}

.latest_post_inner .post_infos a {
  color: #777;
}

.latest_post_holder.image_in_box .latest_post_image {
  width: 122px;
}

.latest_post_holder.image_in_box .latest_post_text {
  padding-left: 147px;
}

.latest_post_holder > ul > li {
  padding-top: 45px;
}

.testimonials_holder .flex-direction-nav a {
  border-radius: 0px;
}

div.comment_form {
  margin: 0 0 90px;
}

#respond input[type="text"],
#respond input[type="email"],
#respond textarea,
.contact_form input[type="text"],
.contact_form textarea {
  font-family: "Inconsolata", sans-serif;
}

.footer_top h5 {
  margin: 0 0 28px;
}

nav.main_menu ul li a span.underline_dash {
  bottom: -5px;
}

header:not(.with_hover_bg_color) nav.main_menu > ul > li:hover > a {
  opacity: 1;
}

.title.title_size_large h1 {
  font-size: 50px;
  color: #fff;
}

.footer_top ul.qode_twitter_widget li a {
  text-transform: none;
  font-weight: 400;
  font-family: "Inconsolata", sans-serif;
}

.q_icon_with_title.left_from_title.small.normal_icon .icon_holder,
.q_icon_with_title.left_from_title.tiny .icon_holder,
.q_icon_with_title.tiny .icon_holder img {
  width: 60px;
}

.q_icon_with_title.tiny.boxed .icon_text_holder,
.q_icon_with_title.tiny.circle .icon_text_holder,
.q_icon_with_title.tiny.custom_icon_image .icon_text_holder {
  padding: 0 0 0 80px;
}

.q_icon_with_title .icon_text_inner p {
  font-size: 15px;
  line-height: 26px;
  margin-top: 7px;
}

@media only screen and (min-width: 481px) {
  .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text {
    border-right: none;
  }

  .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit {
    border-left: none;
  }
}

.q_icon_with_title .icon_text_holder h5.icon_title {
  text-transform: none;
}

.q_icon_with_title.tiny .icon_text_holder {
  padding: 0 0 0 33px;
}

.q_icon_with_title .icon_text_inner {
  padding: 0 0 10px;
}

.price_in_table .price {
  font-size: 63px;
  line-height: 73px;
  font-weight: 700;
  color: #000;
  font-family: "Oswald", sans-serif;
}

.q_price_table .price_table_inner {
  background-color: #fff;
  border: 1px solid #b2b2b2;
}

.price_in_table .mark {
  font-size: 21px;
  font-weight: 700;
  text-transform: none;
  top: 0px;
  color: #000;
}

.price_table_inner ul li.table_title .title_content {
  color: #777;
  font-weight: 400;
  font-size: 18px;
  font-family: "Inconsolata", sans-serif;
  text-transform: none;
  letter-spacing: 0px;
  padding: 13px 0px 12px 0px;
}

.price_table_inner .price_button {
  padding: 0px 0px 50px;
}

.q_price_table.active .active_text {
  background-color: #000;
  font-size: 16px;
  line-height: 47px;
  text-transform: uppercase;
  font-weight: 700;
}

.price_table_inner ul li.pricing_table_content {
  padding: 30px 27px 10px;
}

.price_in_table .mark {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-transform: none;
  top: 0px;
}

.q_price_table.active .price_table_inner > ul {
  padding: 0;
  margin: 0;
}

.q_price_table.active .active_text {
  top: -47px;
  left: -1px;
  border: 1px solid #000;
}

.price_table_inner .price_button .qbutton {
  padding: 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  color: #000;
  height: 37px;
  transition: all 0.2s ease;
}

.price_table_inner .price_button .qbutton:hover {
  color: #777;
  border-color: #777;
}

.page_not_found h2 {
  margin: 120px 0 20px;
}

.page_not_found p {
  margin: 15px 8% 35px;
}

.qode_video_box .qode_video_image::after {
  display: none;
}
.w2gm-content .w2gm-field-input-block-6 > div,
.w2gm-content .w2gm-field-input-block-11 > div {
  width: 100%;
  padding: 0;
  margin-top: 15px;
}
.w2gm-additional-info-wrapper {
  display: none;
}

.w2gm-error {
  background-color: transparent;
  border-color: transparent;
  color: #cc0000;
  padding: 0;
  margin: 0;
  border: 0;
  p {
    margin: 0 0 0.5rem !important;
  }
}

.w2gm-content {
  color: #000;
}

.issue-wrapper {
  margin-bottom: 0.75rem;
  .issue-title {
    margin-bottom: 0.5rem;
    &:before {
      content: "+";
      position: absolute;
      left: 0;
      top: 5px;
      background-color: #fff;
      border-radius: 4px;
      color: #000;
      width: 13px;
      height: 13px;
      margin-right: 5px;
      line-height: 10px;
      font-size: 14px;
      padding: 2px;
    }
  }
  .issue-details {
    display: none;
  }
  &.active {
    .issue-title:before {
      content: "-";
      line-height: 5px;
      padding: 4px;
    }
    .issue-details {
      display: block;
    }
  }
}

.issue {
  margin-bottom: 0.5rem;

  .custom-message-label {
    position: relative;
    cursor: pointer;
    &:before {
      content: "+";
      position: absolute;
      left: -20px;
      top: 5px;
      width: 13px;
      height: 13px;
      margin-right: 5px;
      line-height: 10px;
      font-size: 20px;
      padding: 2px;
      color: #fff;
    }
  }

  .custom-message {
    display: none;
  }

  &.active {
    .custom-message-label {
      display: none;
    }
    .custom-message {
      display: block;
    }
  }
}

.feelings {
  .custom-feeling {
    display: none;
  }
  &.active {
    .handler {
      display: none;
    }
    .custom-feeling {
      display: inline-flex;
    }
  }
}
