@import "../node_modules/bootstrap/scss/bootstrap.scss";

.bg-black {
  background-color: #000;
}
.btn-outline-light {
  transition: all 0.5s;
  &:hover {
    color: #000 !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Tex Gyre Adventor", sans-serif;
  font-weight: 600;
}
h2,
.h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
h4,
.h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.btn {
  font-family: "Tex Gyre Adventor", sans-serif;
  color: #444;
  text-transform: uppercase;
  padding: 5px 25px 7px;
}
@import "content";
@import "home";

#masthead {
  z-index: 1;
  background-color: transparent;
  position: absolute;
  top: 0;
  &.fixed-theme {
    background-color: #000;
  }

  .navbar-toggler {
    border: 0;
    outline: 0;
    @include media-breakpoint-down(md) {
      .hamburg {
        display: none;
      }
      .cancel {
        display: block;
        background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 32 32' version='1.1' width='32px' height='32px'><g id='surface1'><path style=' ' d='M 7.21875 5.78125 L 5.78125 7.21875 L 14.5625 16 L 5.78125 24.78125 L 7.21875 26.21875 L 16 17.4375 L 24.78125 26.21875 L 26.21875 24.78125 L 17.4375 16 L 26.21875 7.21875 L 24.78125 5.78125 L 16 14.5625 Z '/></g> </svg>");
      }
      &.collapsed {
        .hamburg {
          display: block;
        }
        .cancel {
          display: none;
        }
      }
    }
  }

  // .navbar-brand {
  //   img {
  //     width: 60px;
  //     @include media-breakpoint-up(md) {
  //       width: 120px;
  //     }
  //   }
  // }
}
.plastic_value.impact.highlight {
  white-space: nowrap;
}

@include media-breakpoint-down(md) {
  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right {
    grid-template-areas: "media-text-media" "media-text-content";
  }
}
.nav-fixed {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 100%;
  text-align: right;
  @include media-breakpoint-up(md) {
    width: 40%;
    right: 20px;
    top: 20px;
    #navbarToggler {
      display: none;
    }

    .navbar-toggler {
      &:hover {
        .hamburg {
        }
        .navbar-collapse {
          display: block;
        }
      }

      &:not(.collapsed) {
        .cancel {
        }
        .hamburg {
        }
      }
    }
  }
  @include media-breakpoint-up(md) {
    top: 40px;
    right: 40px;
    .navbar-nav {
      padding: 1rem 0.2rem;
    }
  }
}

.navbar-collapse {
  max-width: 360px;
  position: absolute;
  top: 30px;
  right: 0;
  text-align: right;
  line-height: 1.5;
  padding: 0 1rem;

  &.collapsing {
    height: auto;
    overflow: auto;
    transition: none;
  }

  .nav-item a {
    padding: 2px 0.9rem;
    margin: 5px 0;
    display: inline-block !important;
    &:hover {
    }
  }
}

.site-footer {
  background-color: #fff !important;
  @include media-breakpoint-up(md) {
  }
}

#country_selector {
  background-color: transparent;
  border: 0;
  top: -8px;
  right: -4px;
  position: relative;
  @include media-breakpoint-up(md) {
    top: 0;
    right: 0;
  }
}

#country_modal {
  li {
    list-style: none;
  }
  .menu-item {
    padding: 5px 0;
    a {
      color: #444;
    }
  }
  .sub-menu {
    padding-left: 30px;
  }
}

.flag-icon:not(.flag-icon-globe) {
  box-shadow: inset 0 0 3px 0px #a5a5a5;
}

.flag-icon-globe {
  background-image: url("../flags/4x3/none.svg");
}
.flag-icon-lac {
  background-image: url("../flags/4x3/lac.png");
}
.entry .entry-content .wp-block-button .wp-block-button__link,
.entry .entry-content .wp-block-button.is-style-outline .wp-block-button__link,
.entry .entry-content .wp-block-button.is-style-squared .wp-block-button__link {
  // background-color: transparent;
  border: 2px solid #000;
  border-radius: unset !important;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: var(--red);
  border-color: var(--red);
  &:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
  }
  &.has-red-background-color {
    background-color: var(--red);
    border-color: var(--red);
    &:hover {
      border-color: #000;
      background-color: #000;
      color: #fff;
    }
  }
}

.entry .entry-content {
  .wp-block-button {
    &.aligncenter {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .wp-block-button__link {
      text-decoration: none;
      padding: 12px 44px;

      &:hover {
        background-color: var(--red);
        color: #fff !important;
      }
    }
  }
}

.footer-nav {
  font-size: 90%;
}

// .page-template-plastic-diet-ifram,
// .page-template-page-templatesplastic-diet-ifram-php {
//   #wpadminbar {
//     display: none;
//   }
// }

// html {
//   margin-top: 0 !important;
// }
// * html body {
//   margin-top: 0 !important;
// }
// @media screen and (max-width: 782px) {
//   html {
//     margin-top: 0 !important;
//   }
//   * html body {
//     margin-top: 0 !important;
//   }
// }

@import "./eh2020.scss";

.openletter {
  font-size: 12px;
  line-height: 1.5;
  padding: 20px;
  // display: flex;
  // flex-flow: column wrap;
  width: 100%;
  max-width: 900px;
  max-height: 500px;
  overflow: scroll;
  font-family: monospace;

  h3 {
    color: #000 !important;
  }

  & > * {
    // width: calc(50% - 20px);
    margin-bottom: 7px;
  }
  & li {
    // line-break: anywhere;
  }
}

.form-control {
  border-radius: 0;
}

#voice-form {
  #step1,
  #step2 {
    h2,
    h3 {
      color: #ffe783;
    }
  }
  #step4 {
    .btn {
      padding: 10px;
      line-height: 1;
    }
    svg {
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }
}
@include media-breakpoint-up(lg) {
  #step2,
  #step3 {
    .openletter {
      max-height: 750px;
    }
  }
}
@include media-breakpoint-up(xl) {
  #step2,
  #step3 {
    .openletter {
      max-height: 600px;
    }
  }
}

.btn-social img,
.btn-social svg {
  vertical-align: text-bottom;
}

.sponsorsFooter {
  width: 100%;
  height: auto;
  z-index: 14;
  padding-top: 100px;
  z-index: 1 !important;
  text-align: center !important;
  z-index: 99;
  background-color: transparent;
  padding-bottom: 30px;
}

.sponsorsFooter img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  vertical-align: middle;
  max-width: 120px;
}

@media (max-width: 750px) {
  .sponsorsFooter img {
    max-width: 100px;
  }
}

.samsonite,
.starhub,
.foodpanda {
  max-width: 200px !important;
}
.starhub {
  margin-top: 10px;
}
@media screen and (max-width: 750px) {
  .thebodyshop {
    width: 75%;
    margin-top: 15px;
  }
}
.line-up {
  h2 {
    color: #ffe783;
  }
  img {
  }
  h3 {
    font-size: 18px;
    margin: 0;
  }
  p {
    font-size: 18px;
    display: none;
  }
}

.wave {
  width: 100%;
  height: auto;
}

section#youtube {
  h2 {
    font-size: 36px;
  }
  .btn-red {
    background-color: #d70a0a;
    color: #fff;
    &:hover {
      // border: 1px solid #d70a0a;
      // color: #d70a0a;
    }
  }
}

#content {
  min-height: 500px;
}
