// The class name is built appending ‘has-‘, followed by the font size name using kebab case and ending with -font-size.
.has-regular-font-size {
  font-size: 16px;
}

.has-strong-magenta-background-color {
  background-color: #313131;
}

.has-strong-magenta-color {
  color: #f78da7;
}

.entry .entry-content,
.entry .entry-summary {
  max-width: calc(100% - (2 * 1px));
  margin: 0 1px;
}

@media only screen and (min-width: 768px) {
  .entry .entry-content,
  .entry .entry-summary {
    max-width: 80%;
    margin: 0 10%;
    padding: 0 60px;
  }
}

.entry .entry-content p {
  word-wrap: break-word;
}

.entry .entry-content .more-link {
  transition: color 110ms ease-in-out;
  display: inline;
  color: inherit;
}

.entry .entry-content .more-link:after {
  content: "\02192";
  display: inline-block;
  margin-left: 0.5em;
}

.entry .entry-content .more-link:hover {
  color: #0073aa;
  text-decoration: none;
}

.entry .entry-content a {
  text-decoration: underline;
}

.entry .entry-content a.button,
.entry .entry-content a:hover {
  text-decoration: none;
}

.entry .entry-content a.button {
  display: inline-block;
}

.entry .entry-content a.button:hover {
  background: #111;
  color: #fff;
  cursor: pointer;
}

.entry .entry-content > iframe[style] {
  margin: 32px 0 !important;
  max-width: 100% !important;
}

@media only screen and (min-width: 768px) {
  .entry .entry-content > iframe[style] {
    max-width: calc(8 * (100vw / 12) - 28px) !important;
  }
}

@media only screen and (min-width: 1168px) {
  .entry .entry-content > iframe[style] {
    max-width: calc(6 * (100vw / 12) - 28px) !important;
  }
}
video {
  cursor: pointer;
}
.entry .entry-content .page-links a {
  margin: calc(0.5 * 1rem);
  text-decoration: none;
}

.entry .entry-content .wp-audio-shortcode {
  max-width: calc(100vw - (2 * 1rem));
}

@media only screen and (min-width: 768px) {
  .entry .entry-content .wp-audio-shortcode {
    max-width: calc(8 * (100vw / 12) - 28px);
  }
}

@media only screen and (min-width: 1168px) {
  .entry .entry-content .wp-audio-shortcode {
    max-width: calc(6 * (100vw / 12) - 28px);
  }
}

/* Blocks */
/* !Block styles */
.entry .entry-content > *,
.entry .entry-summary > * {
  // margin: 32px 0;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .entry .entry-content > *,
  .entry .entry-summary > * {
    max-width: calc(8 * (100vw / 12) - 28px);
  }
}

@media only screen and (min-width: 1168px) {
  .entry .entry-content > *,
  .entry .entry-summary > * {
    max-width: calc(6 * (100vw / 12) - 28px);
  }
}

@media only screen and (min-width: 768px) {
  .entry .entry-content > *,
  .entry .entry-summary > * {
    // margin: 32px 0;
  }
}

.entry .entry-content > * > *:first-child,
.entry .entry-summary > * > *:first-child {
  margin-top: 0;
}

.entry .entry-content > * > *:last-child,
.entry .entry-summary > * > *:last-child {
  margin-bottom: 0;
}

.entry .entry-content > *.alignwide,
.entry .entry-summary > *.alignwide {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .entry .entry-content > *.alignwide,
  .entry .entry-summary > *.alignwide {
    width: 100%;
    max-width: 100%;
  }
}

.entry .entry-content > *.alignfull,
.entry .entry-summary > *.alignfull {
  position: relative;
  left: -1rem;
  width: calc(100% + (2 * 1rem));
  max-width: calc(100% + (2 * 1rem));
  clear: both;
}

@media only screen and (min-width: 768px) {
  .entry .entry-content > *.alignfull,
  .entry .entry-summary > *.alignfull {
    // margin-top: calc(2 * 1rem);
    // margin-bottom: calc(2 * 1rem);
    left: calc(-12.5% - 75px);
    width: calc(125% + 150px);
    max-width: calc(125% + 150px);
  }
}

.entry .entry-content > *.alignleft,
.entry .entry-summary > *.alignleft {
  /*rtl:ignore*/
  float: left;
  max-width: calc(5 * (100vw / 12));
  margin-top: 0;
  margin-left: 0;
  /*rtl:ignore*/
  margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
  .entry .entry-content > *.alignleft,
  .entry .entry-summary > *.alignleft {
    max-width: calc(4 * (100vw / 12));
    /*rtl:ignore*/
    margin-right: calc(2 * 1rem);
  }
}

.entry .entry-content > *.alignright,
.entry .entry-summary > *.alignright {
  /*rtl:ignore*/
  float: right;
  max-width: calc(5 * (100vw / 12));
  margin-top: 0;
  margin-right: 0;
  /*rtl:ignore*/
  margin-left: 1rem;
}

@media only screen and (min-width: 768px) {
  .entry .entry-content > *.alignright,
  .entry .entry-summary > *.alignright {
    max-width: calc(4 * (100vw / 12));
    margin-right: 0;
    /*rtl:ignore*/
    margin-left: calc(2 * 1rem);
  }
}

.entry .entry-content > *.aligncenter,
.entry .entry-summary > *.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .entry .entry-content > *.aligncenter,
  .entry .entry-summary > *.aligncenter {
    max-width: calc(8 * (100vw / 12) - 28px);
  }
}

@media only screen and (min-width: 1168px) {
  .entry .entry-content > *.aligncenter,
  .entry .entry-summary > *.aligncenter {
    max-width: calc(6 * (100vw / 12) - 28px);
  }
}

@media only screen and (min-width: 768px) {
  .entry .entry-content > *.aligncenter,
  .entry .entry-summary > *.aligncenter {
    margin-left: 0;
    margin-right: 0;
  }
}

// 123

#timer .countdown-wrapper {
  margin: 0 auto;
}

#timer #countdown {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  color: #eee;
  padding-bottom: 100px;
}

@media screen and (max-width: 512px) {
  #timer #countdown {
    padding-top: -60px;
  }
}

#timer .countdown-wrapper #countdown .timer {
  margin: 20px;
  padding: 20px;
  font-size: 90px;
  border-radius: 0.5rem;
  background-image: linear-gradient(to top, #ac64ac 0%, #1a4186 100%);
}

.countdown-box {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.caption {
  margin-top: 20px;
  display: block;
}

#timer .col-md-4.countdown-wrapper #countdown .timer {
  margin: 10px;
  padding: 20px;
  font-size: 35px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #timer .countdown-wrapper #countdown .timer {
    margin: 10px;
    padding: 20px;
    font-size: 65px;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #timer .countdown-wrapper #countdown .timer {
    margin: 10px;
    padding: 20px;
    font-size: 72px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  #timer .countdown-wrapper #countdown .timer {
    margin: 10px;
    padding: 20px;
    font-size: 73px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  #timer .countdown-wrapper #countdown #day,
  #timer .countdown-wrapper #countdown #hour,
  #timer .countdown-wrapper #countdown #min,
  #timer .countdown-wrapper #countdown #sec {
    font-size: 60px;
    border-radius: 4%;
  }
}

@media (max-width: 576px) {
  #timer .countdown-wrapper #countdown #day,
  #timer .countdown-wrapper #countdown #hour,
  #timer .countdown-wrapper #countdown #min,
  #timer .countdown-wrapper #countdown #sec {
    font-size: 25px;
    border-radius: 4%;
  }
  #timer .countdown-wrapper #countdown .timer {
    padding: 13px;
  }
}

// button

.buttons {
  border-radius: 0;
  margin: 10%;
  text-align: center;
}

// .btn-hover {
//   width: 200px;
//   font-size: 16px;
//   font-weight: 600;
//   color: #fff;
//   cursor: pointer;
//   margin: 20px;
//   height: 55px;
//   text-align: center;
//   border: none;
//   background-size: 300% 100%;
//   border-radius: 0px;
//   moz-transition: all 0.4s ease-in-out;
//   -o-transition: all 0.4s ease-in-out;
//   -webkit-transition: all 0.4s ease-in-out;
//   transition: all 0.4s ease-in-out;
// }

// .btn-hover:hover {
//   background-position: 100% 0;
//   moz-transition: all 0.4s ease-in-out;
//   -o-transition: all 0.4s ease-in-out;
//   -webkit-transition: all 0.4s ease-in-out;
//   transition: all 0.4s ease-in-out;
// }

// .btn-hover:focus {
//   outline: none;
// }

.btn-gradient {
  color: #fff;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #1a4186,
    #ac64ac,
    #1a4186,
    #ac64ac
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
