h2 strong,
h3 strong {
  background: #fff;
  color: #ff4242;
  display: inline-block;
  font-family: "Impact Label", "Arial Narrow Bold", sans-serif;
  padding: 0;
  font-weight: normal;
}

.editor-block-list__block-edit {
  margin: 0 !important;
}

.schema-faq {
  padding: 0 1rem;
}
.schema-faq-section {
  background-color: #fff;
  border-top: 3px solid #ff3e41;
  margin-bottom: 1rem;
  &:first-child,
  &.open {
    .schema-faq-question {
      padding-bottom: 0.8rem;
    }
  }
}
.schema-faq-question {
  font-size: 108%;
  display: block;
  cursor: pointer;
  padding: 1rem;
}
.schema-faq-answer {
  padding: 0 1rem 1rem;
}
