.hero-section {
  background: #000;
  position: relative;
}

@media (max-width: 750px) {
  .hero-section,
  .hero-section > .container > .row {
  }
}

.hero-section {
  h1,
  h2 {
    font-size: 2.5rem;
    color: #ffe783;
    font-weight: 700;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 200;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 1.8rem;
    color: #fff;
  }
  img {
    position: relative;
    overflow: hidden;
    left: 0;
  }
  .hero-text-padding {
    padding-top: 9rem;
  }
}

@media (max-width: 750px) {
  .hero-section {
    h1 {
      font-size: 1.8rem;
      color: #ffe783;
      font-weight: 700;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 200;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 1rem;
      color: #fff;
    }
  }
}

@media screen and (max-width: 512px) {
  .hero-section img {
    top: 40%;
  }
}

#masthead {
  .eh60plus {
    width: 50px;
    @include media-breakpoint-up(md) {
      width: 70px;
    }
    @include media-breakpoint-up(lg) {
      width: 80px;
    }
  }
  .wwfsg {
    width: 40px;
    @include media-breakpoint-up(md) {
      width: 60px;
    }
    @include media-breakpoint-up(lg) {
      width: 70px;
    }
  }
}
